<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LOOp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB500DCE1CF2DD6600369673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB500DEA1CF2DD6700369673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB500DF51CF2DD6700369673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
